* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "heading heading heading heading heading heading" "icons icons icons icons icons icons" "display display display display display display" "btns btns btns btns btns btns" ". . runningTotal runningTotal . .";
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "heading heading heading" "icons icons icons" "display display display" "btns btns btns" "runningTotal runningTotal runningTotal";
  }
}

h1 {
  font-family: "Comfortaa", cursive;
  font-size: 4em;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: display;
  height: 20vh;
}

@media screen and (max-width: 768px) {
  .display {
    height: 10vh;
  }
}

.display h2 {
  font-family: "Lobster Two", cursive;
  font-size: 3em;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 600px) {
  .display h2 {
    font-size: 1.8em;
  }
}

.display h2 span {
  color: #ff2da0;
}

.icons {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: icons;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icons .hand-rock,
.icons .hand-scissors,
.icons .hand-paper {
  font-size: 3em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: heading;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

@media screen and (max-width: 768px) {
  .heading {
    height: 20vh;
  }
}

.running-total {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: runningTotal;
  height: 15vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
      grid-template-areas: "PLabel CLabel" "PTotal CTotal";
}

.running-total .player-total,
.running-total .computer-total {
  border: 1px solid black;
  border-radius: 3px;
}

.running-total .player-total {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: PTotal;
}

.running-total .computer-total {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: CTotal;
}

.running-total .player-label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: PLabel;
}

.running-total .computer-label {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: CLabel;
}

.running-total .player-label h4,
.running-total .computer-label h4 {
  margin-bottom: 2em;
}

.running-total .player-label,
.running-total .player-total,
.running-total .computer-total,
.running-total .computer-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Comfortaa", cursive;
}

.running-total .player-label p,
.running-total .player-total p,
.running-total .computer-total p,
.running-total .computer-label p {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btns {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: btns;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns .btn-rock,
.btns .btn-paper,
.btns .btn-scissors {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1em 2em;
  font-family: "Comfortaa", cursive;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.btns .btn-rock:active,
.btns .btn-paper:active,
.btns .btn-scissors:active {
  background-color: #ff2da0;
  border-color: #ff2da0;
  -webkit-box-shadow: 0 0 5px #ff2da0;
          box-shadow: 0 0 5px #ff2da0;
}

@media screen and (min-width: 769px) {
  .btns .btn-rock:hover,
  .btns .btn-paper:hover,
  .btns .btn-scissors:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    border-color: #ff2da0;
    color: #ff2da0;
    -webkit-box-shadow: 0 0 5px #ff2da0;
            box-shadow: 0 0 5px #ff2da0;
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup h2 {
  font-family: "Lobster Two", cursive;
  font-size: 15em;
  color: #ff2da0;
}

@media screen and (max-width: 768px) {
  .popup h2 {
    font-size: 6em;
  }
}

.popup p {
  font-family: "Comfortaa", cursive;
  margin-top: 4em;
}

.popup button {
  color: black;
  font-size: 3em;
  background-color: white;
  border: none;
  padding: 2em;
  cursor: pointer;
}

.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pink {
  color: #ff2da0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */