$pink: rgb(255, 45, 160);
$winnerText: 'Lobster Two', cursive;
$bodyText: "Comfortaa", cursive;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading heading heading heading heading"
    "icons icons icons icons icons icons"
    "display display display display display display"
    "btns btns btns btns btns btns"
    ". . runningTotal runningTotal . .";
}
h1 {
  font-family: $bodyText;
  font-size: 4em;
}
.display {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: display;
    height: 20vh;
    h2{
        font-family: $winnerText;
        font-size: 3em;
        span {
            color: $pink;
        }
    }
}
.icons {
  grid-area: icons;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  .hand-rock,
  .hand-scissors,
  .hand-paper {
    font-size: 3em;
    transition: all 0.2s;
  }
}
.heading {
  grid-area: heading;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.running-total {
  grid-area: runningTotal;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    grid-template-areas: "PLabel CLabel"
    "PTotal CTotal";
  .player-total, .computer-total{
    border: 1px solid black;
    border-radius: 3px;
  }
  .player-total{
      grid-area: PTotal;
  }
  .computer-total {
      grid-area: CTotal;
  }
  .player-label {
      grid-area: PLabel;
  }
  .computer-label{
      grid-area: CLabel;
  }
  .player-label, .computer-label{
    h4{
        margin-bottom: 2em;
    }
  }
  .player-label, .player-total, .computer-total, .computer-label{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $bodyText;
      p {
        transition: all 0.3s;
      }
  }
  
}
.btns {
  grid-area: btns;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .btn-rock,
  .btn-paper,
  .btn-scissors {
    border: 1px solid black;
    border-radius: 3px;
    padding: 1em 2em;
    font-family: $bodyText;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      border-color: $pink;
      color: $pink;
      box-shadow: 0 0 5px $pink;
    }
  }
}
.popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transform: scale(0);
    background-color: white;
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2 {
        font-family: $winnerText;
        font-size: 15em;
        color: $pink;
    }
    p{
        font-family: $bodyText;
        margin-top: 4em;
        
    }
    button {
        color: black;
        font-size: 3em;
        background-color: white;
        border: none;
        padding: 2em;
        cursor: pointer;
    }
}
.active {
    transform: scale(1);
}

.pink {
    color: $pink;
    transform: scale(1.2);
}